@model ASP_GCH1108.Models.JobApplication

@{
    ViewData["Title"] = "Delete Job Application";
}

<h1>Delete Job Application</h1>

<h3>Are you sure you want to delete this job application?</h3>
<div>
    <h4>Job Application</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ApplicationId
        </dt>
        <dd class="col-sm-10">
            @Model.ApplicationId
        </dd>
        <dt class="col-sm-2">
            Introduction
        </dt>
        <dd class="col-sm-10">
            @Model.Introduction
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            Experience
        </dt>
        <dd class="col-sm-10">
            @Model.Experience
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Model.Status
        </dd>
        <dt class="col-sm-2">
            UrlImage
        </dt>
        <dd class="col-sm-10">
            @Model.UrlImage
        </dd>
        <dt class="col-sm-2">
            UserId
        </dt>
        <dd class="col-sm-10">
            @Model.UserId
        </dd>
        <dt class="col-sm-2">
            JobId
        </dt>
        <dd class="col-sm-10">
            @Model.JobId
        </dd>
        <dt class="col-sm-2">
            QualificationId
        </dt>
        <dd class="col-sm-10">
            @* @Model.QualificationId *@
        </dd>
    </dl>

    <form asp-action="DeleteConfirmedEP" method="post" onsubmit="return confirmDelete();">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="ApplicationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="EmployerView" class="btn btn-secondary">Back to List</a>
    </form>
</div>

@section Scripts {
    <script type="text/javascript">
        function confirmDelete() {
            return confirm('Are you sure you want to delete this job application?');
        }
    </script>
}
